@model SupplierViewModel


<div class="form-group">
    <label asp-for="Email.EmailAddress" class="control-label"></label>
    <input asp-for="Email.EmailAddress" class="form-control" />
    <span asp-validation-for="Email.EmailAddress" class="text-danger"></span>
</div>
