@model SupplierViewModel


            <div class="form-group">
                <label asp-for="Phone.Ddd" class="control-label"></label>
                <input asp-for="Phone.Ddd" class="form-control" />
                <span asp-validation-for="Phone.Ddd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone.Number" class="control-label"></label>
                <input asp-for="Phone.Number" class="form-control" />
                <span asp-validation-for="Phone.Number" class="text-danger"></span>
            </div>
        
         
